# Virtual Environment
venv/

# Environment
.env

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Datasets
YESCAPE-Version2/datasets/base_datasets/
YESCAPE-Version2/datasets/processed/
YESCAPE-Version2/datasets/benchmark_dataset/

# Models
*.pkl
*.npz

# Secrets
YESCAPE-Version2/config/api_keys.py